.card {
  border-top: 4px solid $saffron;
  clear: both;
  display: flex;
  justify-content: center;
  margin: $margin * 2.5 $margin $margin;
  max-width: 1000px;
  padding: $padding 0;
  text-align: left;
  transition: .3s;

  @media screen and (min-width: 768px) {
    margin: $padding * 3.333333333333333 auto;
    padding: $padding * 1.66666666666667 $padding * 3.333333333333333 $padding * 3.333333333333333;
    width: 80%;
  }
}

.card:hover {
  border-color: darken($saffron, 25%);
}
