$alto: #ccc;
$baltic-sea: #2d2b30;
$dusty-gray: #999;
$saffron: #f2c040;
$black: #000;
$white: #fff;
$claret: #781125;
$mine-shaft: #333;
$base-box-sizing: 12px;
$margin: $base-box-sizing;
$padding: $margin;
$transition: .4s;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
